h2 {
    font-size: 30px;
}
p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
hr {
    width: 100%;
    border: 1px solid grey;
}
.SecondaryCurtainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
}
.SecondaryCurtainActionsContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}